h2 {
    text-align: center;
    margin-bottom: 40px
}

h4 {
    margin-top: 20px;
    margin-left: 170px;
}

.navbar {
    margin-bottom: 50px;
}

button {
    margin-bottom: 30px;
    margin-top: 10px;
}

hr {
    border-top: 1px solid;
  }